[user]
    name = NAME
    email = email@email.com
    signingkey = /path/to/key.pub
[core]
    editor = nvim
[push]
    autoSetupRemote = true
[gpg]
    format = ssh
[commit]
    gpgsign = true
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[init]
    defaultBranch = main